@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --red: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}
.container {
    float: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

nav {
    position: relative;
}

select {
    border-radius: 0.5rem;
}

option,
select {
    background-color: rgb(227, 221, 221);
    margin-top: -1rem;
    width: 6rem;
    height: 2.5rem;
}
a {
    text-decoration: none;
}
#mainName {
    height: 7rem;
    width: 20%;
    height: 15%;
}

#mainLogo {
    float: left;
    height: 50%;
    width: 60%;
}

#textName {
    float: left;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10%;
    height: 3.5rem;
    width: 40%;
    color: #361f17;
}

#Place {
    float: left;
    height: 15%;
    width: 10%;
    margin-left: 6.5rem;
    margin-top: 0.5rem;
    margin-right: 4rem;
}

#slt {
    float: left;
    height: 15%;
    width: 50%;
    font-size: 1.5rem;
}

.opt {
    float: left;
    margin-right: 4rem;
}
#navbarSupportedContent {
    width: 20%;
}
#username {
    margin-left: 5rem;
    font-size: 1.5rem;
}

#btGiohang {
    border-radius: 1rem;
    background-color: rgb(149, 149, 149);
    color: white;
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
}
#logogiohang {
    width: 50%;
    height: 90%;
}

#company {
    float: left;
    margin-left: 2rem;
    width: 33%;
}

#footlogo {
    float: left;
    text-align: center;
    width: 30%;
}

#logo {
    display: flex;
    height: 12rem;
    margin-left: 15%;
}

#address {
    float: right;
    text-align: right;
    margin-right: 2rem;
    width: 30%;
}
