.container{

    //min-width: 1300px;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 100%;
    display: initial;
}

.wrapper{
    margin-bottom: 100px;
    //min-width: 1300px;
    position:absolute;
    
}

.content{
    // min-width: 1800px;
    display: flex;
    // width: 650px;
    flex-direction: row;
    min-height: 1000px;
}